footer.l-footer
    .l-footer__main
        .c-container
            .l-footer__main_inner
                .l-footer__main_company
                    .l-footer__main_company_upper
                        .l-footer__main_company_logo
                            h2
                                img(src=image_path+"/logo.svg" alt="タイトル" width="213" height="41")
                        .l-footer__main_company_time
                            p 平日・土曜日・祝日営業<br>10：00～21：00
                    .l-footer__main_company_lower
                        address.l-footer__main_company_address
                            | 〒000-000　住所
                            br
                            | TEL：0000-00-0000
                        ul.l-footer__main_company_sns
                            li
                                a(href="" target="_blank"): img(src=image_path+"/icon-twitter.svg" alt="Twitter" width="21" height="21" loading="lazy")
                            li
                                a(href="" target="_blank"): img(src=image_path+"/icon-facebook.svg" alt="Facebook" width="21" height="21" loading="lazy")
                            li
                                a(href="" target="_blank"): img(src=image_path+"/icon-instagram.png" alt="Instagram" width="21" height="21" loading="lazy")
                .l-footer__main_sitemap
                    ul.l-footer__main_sitemap_list
                        li: a(href="#top") TOP
                        li: a(href="#about") ○○とは
                    ul.l-footer__main_sitemap_list
                        li: a(href="#about") ○○とは
                        li: a(href="#about") ○○とは
                        li: a(href="#about") ○○とは
                    ul.l-footer__main_sitemap_list
                        li: a(href="#about") ○○とは

script(type='text/javascript' src=js_path+"/scripts.js")
script(type='text/javascript' src=js_path+"/static.js")