header
    .header_logo
        if key == 'top'
            h1
                a(href=domain)
                    img(src=image_path + "/shared/header_logo.png" alt=sitename)
        else
            p
                a(href=domain)
                    img(src=image_path + "/shared/header_logo.png" alt=sitename)
