//- Yoast SEO　形式
mixin breadcrumb(data)
    .c-breadcrumb
        .c-breadcrumb__inner
            span
                span
                    //- TOPページURLと表記は全ページ固定
                    a(href="/") ホーム
                    | &gt;
                    +breadcrumb-item(data)

mixin breadcrumb-item(data,path)
    //- 親の階層のパスを入れられるようにする
    //- パスが渡されなければ '/' にする
    -
        path = path || '/'
        if(data[0]) {
            currentpath = path + data[0] + "/"
        }

    span
        if data[2]
            //- 子があるとき
            a(href=currentpath) #{data[1]}
            | &gt;
            +breadcrumb-item(data[2],currentpath)
        else
            //- 子がないとき
            a(href=currentpath) #{data[1]}
            | &gt;
            span.breadcrumb_last(aria-current='page') #{page.title}
